//colores
$verde : #4CB8B3;
$rosa: #F53756;
$amarillo: #FEF46D;
$morado: #752F97;
$negro: #000;
$blanco: #fff;

//Tipografia
$fuentePrincipal: 'Montserrat', sans-serif;

//media query
$desktop: 992px;
$telefono: 480px;
$tablet: 768px;